/* Author */
.author {
  .author__inner {
    display: flex;
    align-items: center;
  }

  @media (max-width: $desktop) {
    .author__inner .col {
      &:last-child {
        order: -1;
      }
    }
  }
}

.author__left {
  max-width: 560px;
  margin-right: auto;

  .author__role {
    display: flex;
    align-items: flex-end;
    min-height: 50px;
    margin-bottom: 8px;
    transform: rotate(-4deg);
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    line-height: 1.25;
    color: var(--secondary-color);
  }

  .author__title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.2;
  }

  .author__description {
    font-size: 21px;
    color: var(--text-alt-color);
  }

  @media (max-width: $wide) {
    max-width: 440px;

    .author__role {
      font-size: 32px;
    }

    .author__description {
      font-size: 18px;
    }
  }

  @media (max-width: $desktop) {
    max-width: 100%;
    margin-top: 4px;

    .author__role {
      margin-bottom: 12px;
    }
  }

  @media (max-width: $tablet) {
    .author__title {
      font-size: 32px;
    }

    .author__description {
      margin-bottom: 20px;
    }
  }

  @media (max-width: $mobile) {
    .author__title {
      font-size: 28px;
    }

    .author__description {
      font-size: inherit;
    }
  }
}

.author__right {
  .author__image {
    position: relative;
    transform: translate(0);
    border-radius: 22px;
    padding-bottom: 75%;
    overflow: hidden;
    background: var(--background-alt-color);
    user-select: none;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $tablet) {
    .author__image {
      border-radius: 12px;
    }
  }
}