{{ define "main" }}

<!-- begin contact -->
<div class="contact">
  <div class="container">
    <div class="contact__inner row">

      <div class="col col-6 col-d-12">
        <div class="contact__left">
          <div class="page-head">
            <div class="page-meta">
              <h1 class="page-title">{{ .Title }}</h1>
              {{ if .Content }}
                <div class="page-description">{{ .Content }}</div>
              {{ end }}
            </div>
          </div>
          <form class="form" action="{{ if .Site.Params.contact.contact_email }}https://formspree.io/f/{{.Site.Params.contact.contact_email}}{{ else }}#{{ end }}" method="POST">
            <div class="form__group">
              <label class="form__label screen-reader-text" for="form-name">Name</label>
              <input class="form__input" id="form-name" type="text" name="name" placeholder="Your Name" required>
            </div>
            <div class="form__group">
              <label class="form__label screen-reader-text" for="form-email">Email</label>
              <input class="form__input" id="form-email" type="email" name="_replyto" placeholder="Your Email" required>
            </div>
            <div class="form__group">
              <label class="form__label screen-reader-text" for="form-text">Message</label>
              <textarea class="form__input" id="form-text" name="text" rows="8" placeholder="Your Message" required></textarea>
            </div>
            <div class="form__group form__group-button">
              <button class="button button--primary" type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>

      <div class="col col-6 col-d-12">
        <div class="contact__right">
          <div class="contact__image">
            <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end contact -->

{{ partial "section-gallery.html" . }}

{{ end }}