{{ if .Site.Params.hero.enable }}
<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="hero__inner row">

      <div class="col col-6 col-d-12">
        <div class="hero__left">
          {{ if .Site.Params.hero.hero_intro }}
            <span class="hero__intro shuffle">{{ .Site.Params.hero.hero_intro }}</span>
          {{ end }}
          {{ if .Site.Params.hero.hero_title }}
            <h1 class="hero__title">{{ .Site.Params.hero.hero_title }}</h1>
          {{ end }}
          {{ if .Site.Params.hero.hero_description }}
            <p class="hero__description">{{ .Site.Params.hero.hero_description }}</p>
          {{ end }}
          {{ if .Site.Params.mailchimp.enable }}
          <div class="hero__subscribe">
            <form class="subscribe-form validate" action="{{ if .Site.Params.mailchimp.mailchimp_identifier }}//{{.Site.Params.mailchimp.mailchimp_identifier}}{{ else }}#{{ end }}" method="POST"
              id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
              <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
              <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL"
                placeholder="{{ if .Site.Params.mailchimp.mailchimp_input_text }}{{ .Site.Params.mailchimp.mailchimp_input_text }}{{ else }}Email address{{ end }}">
              <button class="button button--primary subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">{{ .Site.Params.mailchimp.mailchimp_button_text }}</button>
            </form>
          </div>
          {{ end }}
        </div>
      </div>

      <div class="col col-6 col-d-12">
        <div class="hero__right">
          <div class="hero__images">
            <div class="row">

              {{ if .Site.Params.hero_image_1 }}
                <div class="col col-4">
                  <div class="hero__column__one">
                    <div class="hero__images__box">
                      <img class="lazy" data-src="{{ .Site.Params.hero_image_1.image_url }}" alt="{{ .Site.Params.hero_image_1.image_alt }}">
                    </div>
                  </div>
                </div>
              {{ end }}

              {{ if or (.Site.Params.hero_image_2) (.Site.Params.hero_image_3) }}
                <div class="col col-4">
                  <div class="hero__column__two">
                    {{ if .Site.Params.hero_image_2 }}
                      <div class="hero__images__box">
                        <img class="lazy" data-src="{{ .Site.Params.hero_image_2.image_url }}" alt="{{ .Site.Params.hero_image_2.image_alt }}">
                      </div>
                    {{ end }}
                    {{ if .Site.Params.hero_image_3 }}
                      <div class="hero__images__box">
                        <img class="lazy" data-src="{{ .Site.Params.hero_image_3.image_url }}" alt="{{ .Site.Params.hero_image_3.image_alt }}">
                      </div>
                    {{ end }}
                  </div>
                </div>
              {{ end }}

              {{ if .Site.Params.hero_image_4 }}
              <div class="col col-4">
                <div class="hero__column__three">
                  <div class="hero__images__box">
                    <img class="lazy" data-src="{{ .Site.Params.hero_image_4.image_url }}"
                      alt="{{ .Site.Params.hero_image_4.image_alt }}">
                  </div>
                </div>
              </div>
              {{ end }}

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- end author -->
{{ end }}