{{ if .Site.Params.tags_section.enable }}
<!-- begin section-tags -->
<section class="section section-tags">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section-tags__inner">

          {{ if .Site.Params.tags_section.tags_section_title }}
            <h2 class="section-tags__title"><i class="fa-solid fa-arrow-right-long"></i> {{ .Site.Params.tags_section.tags_section_title }}</h2>
          {{ end }}

          <div class="section-tags__box">
            {{ $tags := .Site.Taxonomies.tags }}
            {{ range $name, $taxonomy := $tags }}
              {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                <a href="{{ .RelPermalink }}" class="section-tags__name" title="{{ .Title }}">{{ .Title }}</a>
              {{ end }}
            {{ end }}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section-tags -->
{{ end }}